body{
    background-color: greenyellow;
}
#score{
    font-size: 30px;
   float: left;
   margin-left: 20px;
}
#timer{
    font-size: 30px;
    float: right;
    margin-right: 20px;
}
#sketchToBeDrawn{
    color:red;
}
#header{
    background-color:blanchedalmond;
}
#show_sketch{
    float: right;
}
#yourSketch{
    font-size:25px;
}
#confidence{
    font-size: 25px;
}
#sketchToBeDrawn{
    font-size: 30px;
}